<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service.Net</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>

    @*<div class="navbar navbar-inverse navbar-fixed-top">

        </div>*@
    <div class="container navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Car Service.NET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })            
        </div>
        @(Html.Kendo().Menu()
          .Name("Menu")
          .Items(items =>
          {
              items.Add().Text("Administration")
                  .Action("Index", "ServiceCenters", new { area = "Administration" })
                  .Enabled(User.IsInRole("Admin"))
                  .Visible(User.IsInRole("Admin"));
              items.Add().Text("Car Services").Items(childs =>
                  {
                      childs.Add().Action("AddCarService", "CarService", new { area = "User" }).Text("Add Car Service");
                      childs.Add().Action("SearchService", "CarService", new { area = "User" }).Text("Search Car Service");
                  }).Visible(User.Identity.IsAuthenticated);
              items.Add().Text("Service Centers").Items(childs =>
                  {
                      childs.Add().Action("ServiceCenters", "ServiceCenter", new { area = "User" }).Text("View all");
                      childs.Add().Action("AddServiceCenter", "ServiceCenter", new { area = "User" }).Text("Add Service Center");
                  }).Visible(User.Identity.IsAuthenticated);
              items.Add().Action("ServiceCenters", "Public", new { area = "" }).Visible(!User.Identity.IsAuthenticated);
              items.Add().Text("Account").Content(@<text>
                    @Html.Partial("_LoginPartial")
                    </text>);                
          }))

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
          
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
   
</body>
</html>

