@using CarService.Web.Areas.User.Models
@model CarServiceCenterViewModel

<br />
<div class="row">
   
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"> <strong>@Model.Name</strong> </div>            
            <div class="panel-body">
                <p>Address: @Model.StreetAddress</p>
                <img src="@Model.ImgUrl" class="service-center-img" />
            </div>
        </div>
    </div>
      

    <div class="col-md-3 pull-right">
        <div id="mapCanvas"></div>
        <br/>
        @Html.ActionLink("Back to service centers", "ServiceCenters", "ServiceCenter", null, new { @class = "btn btn-info" })
    </div>
   
   
</div>

<h3> Available Services </h3>

<div class="row">
    <div class="col-lg-8">
        @(Html.Kendo()
        .Grid<CarServiceOutputViewModel>()
        .Name("service-center-services")
        .Columns(columns =>
        {
            columns.Bound(model => model.Name);
            columns.Bound(model => model.CarModelFullName);
            columns.Bound(model => model.CarModelYear);
        })
        .Sortable()
        .Pageable(p => p.PageSizes(true).Refresh(true))                
        .Filterable()
        .DataSource(data =>
        {
            data.Ajax()
                .PageSize(10)
                .ServerOperation(true)
                .Read("GetServiceCenterServices", "CarService", new { id = Model.Id });
        }))
    </div>
</div>

<input type="text" id="lat" hidden="hidden" value="@Model.Location.Split(';')[0]" />
<input type="text" id="lng" hidden="hidden" value="@Model.Location.Split(';')[1]" />

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
@Scripts.Render("~/bundles/markerevent");

