@model CarService.Web.Models.HomeViewModel

<div id="homepage-jumbotron" class="jumbotron">
    <h1 >Car Service .NET</h1>   
    <p class="pull-right">Find the best place to service your car</p>       
</div>

<div class="bs-component">
    @Html.Action("LastServiceCenters")
</div>

<div class="container">
    <div class="col-md-8">
        <h2>Car service. NET last statistics</h2>
        <p>
            Total car services centers : @Model.ServiceCentersCount
        </p>
        <p>
            Total registered users : @Model.RegisterUsersCount
        </p>
        <p>
            Total registered car services : @Model.CarServicesCount
        </p>
        <p>
            Total registered car models : @Model.CarModelsCount
        </p>
        <p>
            Total registered car brands : @Model.ManufacturersCount
        </p>
    </div>   
</div>

