@model CarService.Web.ViewModels.HomeViewModel

<div id="homepage-jumbotron" class="jumbotron">     
</div>

<div class="bs-component">
    @Html.Action("LastServiceCenters")
</div>

<div class="container">
    <div class="col-md-8">
        <h2>Car service. NET last statistics</h2>
        <p>
            Total car services centers : @Model.ServiceCentersCount
        </p>
        <p>
            Total registered users : @Model.RegisterUsersCount
        </p>
        <p>
            Total registered car services : @Model.CarServicesCount
        </p>
        <p>
            Total registered car models : @Model.CarModelsCount
        </p>
        <p>
            Total registered car brands : @Model.ManufacturersCount
        </p>
    </div>   
</div>

<script>
    var userLocationUrl = "http://localhost:3587/Home/UserLocation";
    navigator.geolocation.getCurrentPosition(function (position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
      
        $.post(userLocationUrl,
            {
                Lat: lat,
                Lng : lng
            }).done(function (data) {
                console.log(data);
            })
    })
</script>

