@using CarService.Web.Areas.User.Models
@model CarServiceInputViewModel

@if (@TempData["successMessage"] != null)
{
    Html.RenderPartial("_SuccessMessage", TempData["successMessage"].ToString());
}

@if (@TempData["errorMessage"] != null)
{
    Html.RenderPartial("_ErrorMessage", TempData["errorMessage"].ToString());
}

<h2>
    Add car services to
    @if (TempData["serviceCenterName"] != null)
    {
        <span> @TempData["serviceCenterName"].ToString() </span>
        <input id="selected-service-center" type="text" value='@TempData["serviceCenterName"].ToString()' style="display:none" />
    }
    else
    {
        <span>Service center</span>
    }
</h2>

<div class="row">
    <div class="well bs-component col-md-10">
        <div id="car-selection" class="form-horizontal col-md-4">
            <h3>Select car model</h3>

            <div id="manufacturers-cnt" class="form-group">
                <label for="manufacturers">Manufacturer</label>
                <select id="manufacturers" class="form-control"></select>
            </div>

            <div id="car-models-cnt" class="form-group">
                <label for="car-models">Car model</label>
                <select id="car-models" class="form-control"></select>
            </div>

            <div id="car-model-years-cnt" class="form-group">
                <label for="car-model-years">Year</label>
                <select id="car-model-years" class="form-control"></select>
            </div>
        </div>

        <div class="col-md-6">
            <h3>Select service center</h3>

            <div id="service-center-cnt" class="form-horizontal">
                <div class="form-group">
                    <label for="service-centers">Service center</label>
                    <select id="service-centers" class="form-control"></select>
                </div>
                <div class="form-group">
                    @using (Html.BeginForm("AddCarService", "CarService", FormMethod.Post))
                    {
                        <h3>Enter service</h3>
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @(Html.Kendo()
                            .AutoComplete()
                            .Name("Name")
                            .Filter(FilterType.Contains)
                            .MinLength(3)
                            .DataTextField("Name")
                            .DataSource(data =>
                            {
                                data.Read(r =>
                                {
                                    r.Action("GetServices", "CarService");
                                })
                                .ServerFiltering(true);
                            }
                        ))
                        <br />
                        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })

                        <input id="form-car-model-name" name="CarModelName" hidden="hidden" />
                        <input id="form-year" name="Year" hidden="hidden" />
                        <input id="form-service-center-id" name="ServiceCenterId" hidden="hidden">
                        <br />
                        <input type="submit" value="Add service" class="btn btn-info" />
                        @Html.ActionLink("Back to home", "Index", "Home", new { area = "" }, new { @class = "btn btn-info" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}

<script>
    var manufacturersUrl = "http://localhost:3587/User/Manufacturers/GetManufacturers";
    var carModelsUrl = "http://localhost:3587/User/Cars/GetModelsByManufacturer";
    var carModelYearsUrl = "http://localhost:3587/User/Cars/GetModelYears";
    var serviceCentersUrl = "http://localhost:3587/User/ServiceCenter/GetServiceCenters";


    $("#manufacturers").change(GetCarModels);

    $("#car-models").change(GetModelYears);

    $("#service-centers").change(selectServiceCenterId);

    $("#car-model-years").change(selectModelYear);

    GetManufacturers();

    GetServiceCenters();

    function GetManufacturers() {
        $.getJSON(manufacturersUrl, {}, function (data) {
            $("#manufacturers").children().remove();
            bindManufacturers(data, "#manufacturers");

            GetCarModels();

            selectModelYear();
        })
    }


    function GetCarModels() {
        var manId = $('#manufacturers option:selected').attr('value');

        $.getJSON(carModelsUrl,
            {
                manufacturerId: manId
            }, function (data) {
                $("#car-models").children().remove();
                bindDropDownListData(data, "#car-models");
                GetModelYears();
            })
    }

    function GetModelYears() {
        var modelName = $("#car-models option:selected").attr("value");
        $("#form-car-model-name").attr('value', modelName);
        $.getJSON(carModelYearsUrl,
            {
                modelName: modelName
            }, function (data) {
                $("#car-model-years").children().remove();
                bindDropDownListData(data, "#car-model-years");
                selectModelYear();
            })
    }

    function bindDropDownListData(data, selector) {
        $.each(data, function (i) {
            var option = "<option data-id='" + (data[i].Id) + "'" + " value='" + (data[i].Name || data[i]) + "'>" + (data[i].Name || data[i]) + "</option>";
            $(selector).append(option);
        })
    }

    function bindManufacturers(data, selector) {
        $.each(data, function (i) {
            var option = "<option value='" + data[i].Id + "'>" + data[i].Name + "</option>";
            $(selector).append(option);
        })
    }

    function GetServiceCenters() {
        $.getJSON(serviceCentersUrl, null, function (data) {
            bindDropDownListData(data, "#service-centers");
            var serviceCenterId = $('#service-centers option:selected').attr('data-id');

            $('#form-service-center-id').attr('value', serviceCenterId);
        });
    }

    function selectServiceCenterId() {
        var serviceCenterId = $('#service-centers option:selected').attr('data-id');
        $('#form-service-center-id').attr('value', serviceCenterId);
    }

    function selectModelYear() {
        var year = $("#car-model-years option:selected").val();
        $("#form-year").attr('value', year);
    }
</script>

